.main-bar{
    width: calc(100% - 350px);
    float: left;
    margin: 50px 0px;
    padding: 0;
}
.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-bar-header h2{
    font-weight: 400;
}
.main-bar-header .ask-btn{
    padding: 10px 12px;
    border-radius: 3px;
    background-color: #009dff;
    font-size: 14px;
    text-decoration: none;
    border: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;

}
.main-bar-header .ask-btn:hover{
    background-color: #0086d8;
}
.display-question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom:solid 1px #edeff0;

}
.display-question-container .display-votes-ans{
    padding: 20px;
}

.display-question-container .display-votes-ans p{
    margin: 0;
    text-align: center;
}

.display-question-detail{
    flex-grow: 1;
    padding: 0px 20px;
}

.question-title-links{
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}
.question-title-links:hover{
    color:#009dff;
}

.display-question-detail p{
    padding: 4px;
    margin:0%;
}

.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}
.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.display-tags-time .display-tags p{
    margin: 2px;
    padding:1px 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739d;
}

.display-tags-time .display-time{
    margin-right: 0%;
    font-size: 13px;
}